Create_2017_Dataset/2017RawData
*/2017RawData/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
Create2018Dataset/2018RawData
*/2018RawData/*
3.4-QX/npy/competitive_states_simulated_transfers_over_sqrtn.npy
3.4-QX/npy/competitive_states_simulated_transfers.npy
3.4-QX/npy/all_states_simulated_transfers_over_sqrtn.npy
3.4-QX/npy/all_states_simulated_transfers.npy
3.4-QX/npy/*